<header>
    <img src="/assets/images/20375758_482607218751129_2403090243278099052_n.png" height="200px" alt="logo" />

    <div class="contact">
        <br>
        910-514-4176<br>
        706-980-0702<br>
        ittakesavillagerescue@gmail.com<br>
        1200 S Horner Blvd #4701<br>
        Sanford, NC 27331
    </div>
</header>