<header>
    <img src="/public/assets/images/20375758_482607218751129_2403090243278099052_n.png" height="200px" alt="logo" />

    <div class="contact">
        910-514-4176
        706-980-0702
        ittakesavillagerescue@gmail.com
        1200 S Horner Blvd #4701
        Sanford, NC 27331
    </div>
</header>